<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 align="center">* OX Quiz Game : PLAY *</h1>
    <br>
    <h2 align="center">- Quiz -</h2>
    <br>
    <div th:if="${oxDto == null}">
        <h2 align="center">등록된 퀴즈가 없습니다</h2>
    </div>
    <div th:unless="${oxDto == null}">
        <h3 style="font-size:30px" align="center">퀴즈 내용</h3>

            <form th:action="@{/ox/check}" method="post" align="center">
                <label>
                    <input style="font-size:30px" type="text" th:value="${oxDto.detail}">
                </label>

                <br>
                <br>

                <input type="hidden" name="id" th:value="${oxDto.id}">
                <input style="font-size:30px" type="submit" name="answer" value="O">
                <input style="font-size:30px" type="submit" name="answer" value="X">
            </form>
    </div>

    <br>
    <br>

    <form style="font-size:30px" align="center" th:action="@{/ox/quiz}">
        <input type="submit" value="Main Back">
    </form>


</body>
</html>